<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box  {{collor}}">
        <div class="inner">
            <h3 class="text-white"><sup  style="font-size: 20px">Mesa</sup> {{mesa}}</h3>

            <p><h5 class="text-white"><b>Consumidor Final </b></h5></p>
        </div>
        <div class="icon">
            <i class="fas fa-utensils"></i>
        </div>
        <a href="{{URL}}/admin/mesa/{{mesa}}" class="small-box-footer">Mais informações <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>