<div class="col-lg-3 col-6 ">

    <div class="small-box bg-info">
        <div class="inner">
            <h4 class="">{{nome}}</h4>
            <p class="text">Confirmar Recebimento <i class="fa fa-user" aria-hidden="true"></i> </p>
        </div>
        <div class="icon">
            <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div>
            {{pags}}
        </div>
        <a href="{{URL}}/admin/conferenciacaixa/{{cod}}" class="small-box-footer">
            Detalhes <i class="fas fa-arrow-circle-right"></i>
        </a>
        <a href="" class="small-box-footer">

        </a>
    </div>
</div>
