
<!-- Sidebar Menu -->
<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
       with font-awesome or any other icon font library -->
    <li class="nav-item">
      <a href="{{URL}}/admin" class="nav-link  active">
        <i class="nav-icon fas fa-edit"></i>
        <p>
          Pedido
        </p>
      </a>
    </li>


    <li class="nav-header">Cadastros</li>

    <li class="nav-item">
      <a href="{{URL}}/admin/empresa" class="nav-link">
        <i class="nav-icon fa fa-university"></i>
        <p>
          Empresa

        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{{URL}}/admin/clientes" class="nav-link">
        <i class="nav-icon fa fa-user-circle"></i>
        <p>
          Clientes
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{{URL}}/admin/produtos" class="nav-link">
        <i class="nav-icon fa fa-archive"></i>
        <p>
          Produto
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="resources/view/admin/index.php" class="nav-link">
          <i class="nav-icon fas fa-upload"></i>
          <p>
              Importar Produtos
          </p>
      </a>
  </li>


    <li class="nav-header">Relatórios</li>
    <li class="nav-item">
      <a href="{{URL}}/admin/controlepedidos" class="nav-link">
        <i class="nav-icon fa fa-shopping-cart"></i>
        <p>
          Relação de pedidos
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{{URL}}/admin/conferenciacaixa" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
          Caixa
        </p>
      </a>
    </li>
  </ul>
</nav>
<!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-12">
            <div class="input-group">
              <input type="text" class="form-control form-control-lg" placeholder="Numero da mesa">
              <span class="input-group-append">
              <button type="button" class="btn btn-info btn-flat">Go!</button>
              </span>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          {{mesa}}
          <!-- ./col -->
        </div>
    </section>
    <!-- /.content -->
  </div>
